{% extends "base.html" %}

{% block title %}
Home | Parth Selection
{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>Elevate Your Style</h1>

        <p>
            Discover premium fashion collections for every occasion.
        </p>

        <a href="#" class="shop-btn">
            Shop Now
        </a>

    </div>

</section>

<section class="products">

    {% for product in products %}

    <div class="card">

        <h2>{{ product.name }}</h2>

        <p>₹ {{ product.price }}</p>

        <p>{{ product.description|truncatechars:50 }}</p>

    </div>

    {% empty %}

    <div class="card">
        <h2>No Products Yet</h2>
        <p>Go to Admin Panel and add products.</p>
    </div>

    {% endfor %}

</section>

{% endblock %}